<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crud</title>
</head>

<body>
  <div class="container">
    <div>

      <h1 class="mt-5 mb-3">
        Crud
      </h1>
      <div class="border-bottom mb-4">
        <h6 class="text-secondary mb-0 border-bottom border-5 border-success" id="seccion">
          servicios
        </h6>
      </div>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active bg-purple rounded-0">
            Generación de servicios
          </a>
        </li>
      </ul>

      <div class="tab-content bg-white custom-shadow p-4 mb-5">
        <div class="tab-pane fade show active">

          <app-table></app-table>

        </div>
      </div>


    </div>
  </div>

</body>

</html>

<router-outlet></router-outlet>