@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    background-color: #F5F4F9;
}

#seccion {
    display: inline !important;
    border-bottom: 5px solid green !important;
    padding-left: 5px;
    padding-right: 10px;
}

.bg-purple {
    background-color: #32368E !important;
}

.custom-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.border-modal {
    border: 1px solid #32368E !important;
}

input {
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

label {
    font-weight:700;
}

